:root {
  --cor-primaria: #bd8b02;
  --cor-primaria-escura: #ce9804;
  --fundo-1: #f7f7f7;
  --fundo-2: #ffffff;
  --texto: #000000;
  --textoconteudo: #000000;
  --subtitulo: #585858a9;
  --onda: url("./img/onda-clara.svg");
  --rodape: #ce9804;
}

@media (prefers-color-scheme: dark) {
  :root {
    --fundo-1: #111111;
    --fundo-2: #000000;
    --texto: #ffffff;
    --subtitulo: rgba(255, 255, 255, 0.2);
    --onda: url("./img/onda-escura.svg");
    --rodape: rgba(255, 255, 255, 0.2);
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  background-color: var(--fundo-1);
  display: grid;
  gap: 60px;
  justify-items: center;
  margin-top: 60px;
  color: var(--texto);
}

header {
  display: grid;
  justify-items: center;
  gap: 60px;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3 {
  margin: 0px;
}

p {
  font-size: 1.5rem;
  line-height: 1.3;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu a {
  display: block;
  background-color: var(--fundo-2);
  padding: 1rem 2rem;
  border-radius: 4px;
  color: var(--texto);
  text-transform: uppercase;
  border: 2px solid transparent;
}

.menu a:hover {
  border: 2px solid var(--cor-primaria);
}

.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}

.introducao {
  background: var(--fundo-2);
  padding: 40px;
  text-align: right;
  position: relative;
  display: grid;
  gap: 20px;
  align-content: center;
  justify-items: end;
  color: var(--texto);
}

.botao {
  background: var(--cor-primaria);
  color: #ffffff;
  padding: 1rem 2rem;
  border-radius: 4px;
  text-transform: uppercase;
  color: var(--textoconteudo);
}

.botao:hover {
  background: var(--cor-primaria-escura);
}

.introducao h1 {
  font-size: 2rem;
}

.introducao::before {
  animation: piscar 1s infinite;
  content: "";
  width: 60px;
  height: 4px;
  background: #c28e00;
  position: absolute;
  top: 30px;
  right: -30px;
}

@keyframes piscar {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.subtitulo {
  font-size: 4rem;
  text-transform: uppercase;
  color: var(--subtitulo);
  text-align: right;
  padding: 40px;
  align-self: center;
  background-image: var(--onda);
}

.vantagens {
  background: var(--fundo-2);
  padding: 40px;
}

.vantagens-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 20px;
  padding: 20px;
  border-left: 3px solid transparent;
}
.vantagens-item:nth-child(odd) {
  background-color: var(--fundo-1);
}
.vantagens-item:hover {
  border-color: var(--cor-primaria);
}
.vantagens-item p {
  grid-column: 2;
}

.rodape {
  background: var(--rodape);
  width: 100%;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
  box-sizing: border-box;
  color: var(--texto);
}
